body{
    background-color:#ffe6ff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
hr{

  border-style:dotted none none;
  height:0px;
  width:5%;
  border-color:grey;
  border-width:6px;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1{
  color:  #ff4dff;
  text-decoration: wavy;
  
}
h2{
    color:  #ff4dff;
    
  }
img{
  border-radius: 50%;
  width: 10%;
  height: 20%;
}
h3{
    color:  #ff4dff;
}
#btn{
    background: #ed96e1;
  background-image: -webkit-linear-gradient(top, #ed96e1, #cf27be);
  background-image: -moz-linear-gradient(top, #ed96e1, #cf27be);
  background-image: -ms-linear-gradient(top, #ed96e1, #cf27be);
  background-image: -o-linear-gradient(top, #ed96e1, #cf27be);
  background-image: linear-gradient(to bottom, #ed96e1, #cf27be);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
#btn:hover {
    background: #c993d9;
    background-image: -webkit-linear-gradient(top, #c993d9, #b834d9);
    background-image: -moz-linear-gradient(top, #c993d9, #b834d9);
    background-image: -ms-linear-gradient(top, #c993d9, #b834d9);
    background-image: -o-linear-gradient(top, #c993d9, #b834d9);
    background-image: linear-gradient(to bottom, #c993d9, #b834d9);
    text-decoration: none;
  }
  .paint{
float: left;
position: relative;
top:30px;
left: 500px;
  }
  .programming{
float: left;
position: relative;
top:30px;
left: 500px;
  }
  .content{
float: right;
position: relative;
top:30px;
right: 500px;
  }
  .skill-row{
      padding-top: 30px;
      padding-bottom: 20px;
  }
.img{
    padding-bottom: 40px;
    padding-top: 20px;
}
.form{
    padding-top: 1px;
    padding-bottom: 1px;
}
.hr{
    margin-top: 50px;
}